
.student-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 15%;
  }
  
  .student-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .student-detail {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
  }
  
  .student-detail label {
    font-weight: bold;
    color: #333;
  }
  
  .student-subjects {
    margin-top: 20px;
  }
  
  .student-subjects h3 {
    color: #333;
  }
  
  .student-subjects ul {
    list-style-type: none;
    padding: 0;
  }
  
  .student-subjects li {
    margin-bottom: 5px;
  }
  
  
  