body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin-top: 15%;
}

.login-form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

select.ng-invalid.ng-touched,
input.ng-invalid.ng-touched{
    border: 1px solid red;
}



button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;  /* Adiciona uma transição suave */
}

button:disabled {
    background-color: #ccc;  /* Cor de fundo quando desativado */
    cursor: not-allowed;    /* Altera o cursor quando desativado */
    transition: background-color 0.3s ease;  /* Adiciona uma transição suave */
}

button:hover:enabled {
    background-color: #45a049;  /* Cor de fundo ao passar o mouse quando ativado */
}

/* Estilos adicionais para o botão desativado */
.disabled-button {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Estilos adicionais para o botão ativado */
.active-button {
    background-color: #4caf50;
}

.active-button:hover {
    background-color: #45a049;
}

.back-arrow {
    top: 20px;
    left: 20px;
}

.back-arrow a {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}
  
option {
    color: #444;
    opacity: 10%;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: -15px; 
}