<div class="student-container">
    <div class="icons">
      <span class="icon-close" routerLink="/student-profile"></span>

    </div>
    <h2>AREA DE EDICAO</h2>
      <div class="student-info">
        <div class="student-detail">
          <label>CPF:</label>
          <span>{{aluno.cpf}}</span>
        </div>
        <div class="student-detail">
          <label>Nome:</label>
          <span>{{aluno.nome}}</span>
        </div>
        <div class="student-detail">
          <label>Endereço:</label>
          <span>{{aluno.adress}}</span>
        </div>
        <div class="student-detail">
          <label>Telefone:</label>
          <span>{{aluno.telephone}}</span>
        </div>
        <div class="student-detail">
          <label>Email:</label>
          <span>{{aluno.email}}</span>
        </div>
        <div class="student-detail">
          <label>Gênero:</label>
          <span>{{aluno.gender}}</span>
        </div>
      </div>
      <div class="student-subjects">
        <h3>Matérias</h3>
        <ul>
          <li *ngFor="let subject of aluno.subjects">{{subject}}</li>
        </ul>
      </div>
      
    </div>
    